body {
    margin: 0;
    font-family: 'Righteous', cursive;
}

.grid-container {
    display: grid;
    grid-template-areas: 
        "yellow yellow yellow"
        "blue green zasoby"
        "blue green zasoby-napis"
        "blue green lblue"
        "red red red";
}

#blue {
    grid-area: blue;
    background-color: #2A95B8;
    width: calc(13.5vw - 5px);
    height: calc(75vh - 10px);
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    border-right: 5px solid black;
}

#yellow {
    grid-area: yellow;
    background-color: #e08235;
    width: calc(100vw - 5px);
    height: calc(15vh - 5px);
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    text-align: center;
    display: inline-block;
}

#green {
    grid-area: green;
    background-color: #f05f83;
    width: calc(73vw - 10px);
    height: calc(75vh - 10px);
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    border-top: 5px solid black;
    border-right: 5px solid black;
    text-align: center;
}

#lblue {
    grid-area: lblue;
    background-color: #2A95B8;
    width: calc(13.5vw - 5px);
    height: calc(58vh - 10px);
    border-left: 5px solid black;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    text-align: center;
}

#red {
    grid-area: red;
    background-color: #CD1D1D;
    width: calc(100vw - 5px);
    height: calc(10vh - 5px);
    border-left: 5px solid black;
    border-top: 5px solid black;
    text-align: center;
}

#logo
{
    margin: auto;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    height: 10vh;
}

#zasoby
{
    position: relative;
    background-color: #CD1D1D;
    height: calc(11vh - 5px);
    width: calc(13.5vw - 5px);
    border-left: 5px solid black;
    border-bottom: 5px solid black;
    
    text-align: center;
    float: right;
    font-size: 2vh;
}
#zasoby-napis
{
    position: relative;
    background-color: #CD1D1D;
    height: calc(6vh - 5px);
    width: calc(13.5vw - 5px);
    border-left: 5px solid black;
    
    border-top: 5px solid black;
    text-align: center;
    float: right;
    font-size: 3vh;
}